* {
  margin: 0;
  font-size: 0.85rem;
  font-weight: bold;
  user-select: none;
  font-family: Helvetica;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

:focus {
  outline: none;
}

.key {
  position: relative;
  color: #2698d9;
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
}

.black {
  background-color: rgb(32, 32, 32);
  z-index: 100;
  margin-left: -2.8rem;
  left: 1.5rem;
}

.blackKeyboard {
  padding: 5px 8px;
  position: relative;
  top: 60%;
}

.blackNote {
  position: relative;
  top: 10%;
}

.white {
  background-color: #ffffff;
}

.whiteKeyboard {
  padding: 5px 10px;
  position: relative;
  top: 80%;
}

.whiteNote {
  position: relative;
  top: 55%;
}

.keyboardStyleButton {
  background-color: #f7f5f5;
  box-shadow: 0 0.3em #dfd9d9;
  border-radius: 3px;
  text-align: center;
}

#keyboardDiv {
  display: flex;
  justify-content: center;
}

#singleplayer:hover,
#multiplayer:hover {
  filter: brightness(90%);
}

span {
  transition: all 0.2s ease-in-out;
}

.mainPlayer {
  background-color: #cdf1ff;
}

.secondPlayer {
  background-color: #ffc9c9;
}

.pressed {
  top: 0.6rem;
}

#returnHomeButton {
  position: fixed;
  top: 5%;
  right: 4%;
}

#multiplayerSection {
  width: 30vw;
}

#loadingGif {
  background-image: url("../assets/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/* https://uiverse.io/aasisodiya/sour-horse-29 */

/* The switch - the box around the slider */
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 3.4em;
  height: 1.8em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: lightsalmon;
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}

.slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}

input:checked+.slider:before {
  transform: translateX(2em);
  background: lightgreen;
}